
<div class="panel panel-info">
      <div class="panel-heading"><h3>Thank You</h3></div>
      <div class="panel-body"><p>Thank you. We have received your message and will respond as soon as possible.</p>
      </div>
 </div>

