html, body {height:100%;}
body {margin:0;padding:0;}

/*NAVIGATION*/

.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-default {
  background-color: #FFF;
  border: none;
  margin: 0;
}

ul.nav a:hover { 
	background-color: #fff !important;
	color: #72D8C4 !important;
}

ul.nav a {
	color:#000 !important;
}


/*Blue Bar*/

.bluebar {
	background-color: #72D8C4;
	margin-top: 50px;
	text-align: center;
	padding-top: 20px;

}

/*TEXTS*/

h1 {
	font-family: 'Shadows Into Light';
	font-size: 7em;
	text-align: center;
}


h4 {
		color: #fff;
		font-weight: 300;
		text-align: center;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 2em;
}

h2 {	
	font-family: 'Shadows Into Light';
	text-align: center;
	font-size: 3em;
	}

p {
		font-weight: 300;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h3 {
	font-family: 'Shadows Into Light';
	font-size: 3em;
	
}


/*SLIDERS*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
	}

#myCarousel {
	padding-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/*TRENDING SECTION*/


.trending_text {
	padding-top: 20px;
}

.trending_row {
	padding: 40px;
}

/*PHOTO MESSAGE*/

.photo_message {
	background-image: url("/assets/boots.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 395px;
	margin-top: 30px;
}


.photo_text {
	background-color: #373737;
	width: 70%;
	margin: 0 auto;
	margin-top: 140px;
	padding: 20px;
}


.searchbar {
	padding-top: 12.5px;
	padding-left: 5px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;	
}

form {
	color: black;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;	
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

.contact_row,
.panel {
	margin: 0 auto;
	width: 30%;
}

.products_row {
	margin: 0 auto;
	padding-top: 20px;
	width: 70%;
}


/* PRODUCTS SHOW PAGE */


.rated {
	text-align:center;
}

footer {
	background-color: #373737;
	height: 300px;
	color: #fff;
}

.about {
	padding:40px;
	color: #fff;
}

.icons {
	padding:40px;
	text-align: center;
}

.under_product {
	text-align: center;
}

.product_deats,
.rated {
	text-align: left;
}

